<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
    <title>Appinventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

		<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    </nav>

  	<body>

		 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>


	  </body>

		<footer class="footer">
			<div class="content has-text-centered">
				<p><strong>Texto en negrilla</strong> Espacio pie de pagina 
				<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> CC BY NC SA 4.0</a>
   			</p>
  		</div>
		</footer>

</html>

